@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.app {
    width: 70%;
}
.app .app__title {
    text-align: center;
    margin-bottom: 1rem;
}
.app .app__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
}
.app .app__pagination div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
}
.app .app__pagination div.active {
    background-color: #27ae60;
}
.app .app__loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #root {
        padding: 1rem;
    }
    .app {
        width: 100%;
    }
}
@media (max-width: 425px) {
    #root {
        padding: 1rem 5px;
    }
}